html {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  min-height: 100%;
  align-content: space-between;
  background-color: aliceblue;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  height: 50px;
  width: 100%;
  color: white;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.trybewarts-login input, button {
  font-size: 15px;
  padding: 2px;
  border-radius: 3px;
  border: none;
  margin: 0 10px 0 0;
}

#trybewarts-header-title {
  display: flex;
  align-items: center;
}

.display-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 675px;
}

#evaluation-form div {
  margin-top: 15px;
}

.full-name {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.full-name input {
  border-radius: 3px;
  padding: 2px;
  font-size: 18px;
  margin: 0 20px 0 0;
  border: .5px solid rgba(47, 231, 255, 0.52);
}

.full-name select {
  border-radius: 3px;
  padding: 2px;
  font-size: 18px;
  background-color: rgb(231, 179, 172);
  border: .5px solid rgba(47, 231, 255, 0.52);
}

#trybewarts-forms-logo {
  height: 500px;
}

.family-content {
  display: flex;
  width: 95%;
}

.family {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#label-family {
  margin-bottom: 15px;
}

.content {
  width: 60%;
}

#evaluation-form .content-ckeckbox div {
  margin: 0;
}

.content-ckeckbox {
  display: flex;
  justify-content: center;
}

.content-ckeckbox div {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.rate {
  width: 95%;
}

.comment {
  width: 95%;
}

#textarea {
  width: 99%;
  height: 100px;
  border: none;
}

.agree {
  width: 95%;
}

.submit {
  width: 95%;
}

#submit-btn {
  width: 100%;
  color: white;
  background-color: rgb(11, 93, 93);
  border-radius: 5px;
  font-size: 18px;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: auto;
  background-color: rgb(50, 167, 145);
  color: white;
}
